

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: salmon;
    border-bottom: 1px solid rgb(85, 85, 85);
}

nav ul a{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px; 
 }

 nav ul a li:hover{
    color:rgb(255, 255, 255);
    transition: 0.5s;
}

h1{
  padding-left: 600px;  
}

h5{
    color: aliceblue;
    padding: 50px;
    text-align: center;
    background-color: black;
}

.flex-container {
    background-color: rgb(255, 255, 255);
    margin: 50px;
    padding-bottom: 20px;
  }

.border{
    border-bottom: 5px solid rgb(0, 0, 0);
    padding-bottom: 10px;
}